{% extends "head.html" %}
{% block content %}

        <h2>Greetings students, </h2>
                <h2>&nbsp;</h2>
<p1>hello this website would help you though you math 6,7,or 8.This website would provide you videos and some teacher explain.And you would hava a schulde when something is due or whta is coming up in the few days.if you look blowe you would find stuff ffnc <br><br></p1>

    <a href="/math6">Math6</a>

    <a href="/math7">Math7</a>

    <a href="/math8">Math8</a>

{% endblock %}
